header{
  width: 100%;
  color: white;
  text-align: center;
  height: 6;
  font-size: 200%;
  margin-top: 0%;
  color: red;
}

body{

  background: white;
  height: 89vh;
  color: white;

  margin: 3%

}

.picture{
height: 90%;
  background: black;
  /* padding: 5%; */
  float: left;
  width: 50%;
  text-align: center;
  font-size: 200%;
}
p
{
color: red;
float: center;
align: center;
}

.textside{
background: blue;
width: 50%;
float: left;
height: 90%;

}

h1{
font-size: 15px;
float: left;
/* margin: 30px;
margin-right: 50px;
margin-left: 200px; */
color: red;
margin: 10px;

}
h2{
  font-size: 30px;
  float: left;
  margin-top: 30px;
}
#p2, #p3, #p4 {
  display: none;
}



#myButton{
font-size: 150%;
float: left;
margin-left: 30%;

}
.img{
float: center;
align: center;
width: 40%;
margin-left:


}
#img1{
float: center;
align: center;
width: 90%;


}
#scene3, #scene4, #scene5, #scene6, #scene7, #scene8, #scene9, #scene10, #scene11, #scene12, #scene13, #scene14, #scene15, #scene16{
align: center;
margin-left: 8%;
float: center;

}

#img2{
align-items: center;
align: center;
float: center;
margin-left: 20%;


}

/* #YesButton2, #YesButton1, #NoButton1 {
  display: none;
cursor: pointer;


} */

/
